* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

header {
  background-color: black;
  color: #eee;
}

.container {
  background-color: white;
  max-width: 80%;
  margin: 0;
  padding: 0;
}

#searchResult {
  min-height: 300px;
  background-color: lightgrey;
}

.countries{
    max-width: 1240px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.country-div{
    background: white;
    border: 1px solid black;
    padding: 15px;
}
img{
    width: 100%;
    height: 150px;
}

footer {
  background-color: black;
  p {
    color: white;
  }
  padding: 0.5rem;
}

@media screen and (max-width: 576px){
    .countries{
        grid-template-columns: repeat(1, 1fr);
    }
}