* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

.container {
  background-color: white;
}

#searchResult {
  min-height: 300px;
  background-color: lightgrey;
}

footer {
  background-color: black;
  p {
    color: white;
  }
  padding: 0.5rem;
}